.abbreviation_icon {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
}
.abbreviation_icon_bigger {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: #fff;
}