.busAndTramStopIcon {
    background: transparent;
    border: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: transparent !important;
  border: none;
  box-shadow: none !important;
  display: flex;
  justify-content: center;
}

.leaflet-popup-close-button {
    display: none;
}

.vehicle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    flex-direction: row;
}